<! DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Диплом </title>
	<meta http-equiv="Content-Type" content="text/html"; charset=utf-8 />
	<meta name="description" content="Авторизация"/>
	<meta name="keywords" content="авторизация, authorization"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
	<div id="acc_topmenu">
	</div>
	<div id="picture">
		<img src="templates/images/content1.png" alt="Тут должна быть картинка:)">
		<div id="registration">
<!-- 			<p>Создайте свой аккаунт</p> -->
		  <div class="form_auth_block_content">
			<p class="form_auth_block_head_text">Войдите в аккаунт</p>
			<p class="form_auth_block_head_text_registration">Не зарегистрированы? <a href="{% url 'reg' %}">Регистрация</a> </p>
			<form class="form_auth_style" method="post">
				{% csrf_token %}
			  <input class="text-field__input" type="email" name="auth_email" placeholder="Введите Ваш имейл" required >
			  <p>
				<input class="text-field__password" type="password" name="auth_pass" placeholder="Введите пароль" required >
			  </p>
			  <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
			</form>
		  </div>
		</div>
	</div>

</body>
</html>